/** @format */

.footer-out-container {
  background-color: #000000;
}

.footer {
  position: relative;
  background-color: #0c0c0c;
  border: 1px solid #1a1a1a;
  width: 1200px;
  margin: auto;
}
.footer .footer-container {
  width: 100%;
  display: flex;
}
.footer .footer-container .footer-col {
  width: 33.333%;
  padding: 60px 10px 40px 15px;
  border: 1px solid #1a1a1a;
}

/* .footer .footer-container .footer-col .img-cont img {
  height: 117px;
} */
.footer .footer-container .footer-col  .logo{
  font-size: 25px;
}
.footer .footer-container .footer-col h2 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-container .footer-col ul {
  list-style: none;
  padding-left: 0;
}
.footer .footer-container .footer-col ul li {
  margin-bottom: 5px;
  display: flex;
  gap: 20px;
}
.footer .footer-container .footer-col ul li i {
  font-size: 16px;
  color: #bc0032;
}
.footer .footer-container .footer-col ul li span {
  color: #909090;
  line-height: 2em;
}
.footer .footer-container .footer-col .icons {
  text-align: left;
  padding: 29px 0px 0px 0px;
  display: flex;
  gap: 20px;
}
.footer .footer-container .footer-col .icons i {
  font-size: 20px;
  color: #2d2d2d;
  cursor: pointer;
}
.footer .footer-container .footer-col .icons i:hover {
  color: #bc0032;
}

.footer .footer-container .footer-col .block_newsletter {
  position: relative;
  display: flex;
  max-width: 90%;
  margin: auto;
}
.footer .footer-container .footer-col .block_newsletter input {
  height: 46px;
  border: none;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2rem;
  border-radius: 4px;
  outline: none;
  color: #eeee;
  width: 60%;
}
.footer .footer-container .footer-col .block_newsletter button {
  height: 46px;
  width: 40%;
  background: #f12b2b;
  border: none !important;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 700;
  font-size: 12px;
}




/* Copywright */
.copy-right {
  width: 100%;
  background-color: #000;
  padding: 20px 15px;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.copy-right span {
  color: #909090;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.8em;
}
