/** @format */

body {
  margin: 0;
  font-family: Quicksand !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Quicksand !important;
}
html{
  
}