/** @format */

@media screen and (min-width: 1000px) and (max-width: 1370px) {
  .dropdown-content-custome {
    width: 930px !important;
  }
  .HomePage .Container .Banner_Two_Sec {
    width: 100%;
  }
  .HomePage .Container .Banner_Two_Sec .img-container {
    width: 50%;
  }
  .HomePage .Container .Banner_Two_Sec .img-container img{
    width: 100%;
  }
}
