/** @format */

@media screen and (min-width: 780px) and (max-width: 1000px) {
  .dropdown-content-custome {
    width: 930px !important;
  }
  .HomePage .Container .Banner_Two_Sec {
    width: 100% !important;
    max-width: 100% !important;
    display: flex;
    flex-wrap: wrap;
  }
  .HomePage .Container .Banner_Two_Sec .img-container {
    width: 48% !important;
  }
  .HomePage .Container .Banner_Two_Sec .img-container img {
    width: 100% !important;
  }
  .HomePage .Container .categories {
    width: 100%;
    max-width: 100%;
  }
  .products-container {
    width: 100%;
  }
  .HomePage .Container .Banner_Img {
    width: 100%;
  }
  .HomePage .Container .Blog-posts {
    width: 100%;
  }
  .footer {
    max-width: 1200px;
    width: 100%;
  }
  .HomePage .Container .Heading-Container h2 {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .Navbar {
    display: none;
  }
  #header .container {
    width: 100%;
    padding-left: 0;
  }
  #header.header-1 {
    width: 100%;
    max-width: 100%;
  }
  #header.header-1 .header-center {
    width: 100%;
    padding: 0;
  }
  #header .w-login {
    display: none;
  }
  #header.header-1 .header-center .three-sec-cont {
    display: flex;
    width: 100%;
  }
  #header.header-1 .header-center .three-sec-cont .left-cont {
    display: none;
  }
  #header.header-1 .header-center .three-sec-cont .right-cont {
    display: none;
  }
  #header.header-1 .header-center .three-sec-cont .mid-cont img {
    max-width: 100px;
    height: auto;
  }
  .fa-bars-staggered {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }
  .HomePage .Container {
    width: 100%;
  }
  .HomePage .Container .Banner_Two_Sec {
    display: block;
    width: 100%;
  }
  .HomePage .Container .Banner_Two_Sec .img-container {
    width: 100%;
  }
  .HomePage .Container .Banner_Two_Sec .img-container img {
    width: 100%;
    margin-top: 10px;
  }
  .HomePage .Container .categories {
    width: 100%;
    display: block;
  }
  .HomePage .Container .categories .Item {
    width: 100%;
    border: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
  }
  .switch_btn {
    display: block;
  }
  .switch_btn button {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  .products-container .Main {
    width: 47%;
  }
  .HomePage .Container .Blog-posts {
    display: none;
  }
  .Blog-post-mobile {
    display: block;
    padding: 20px;
  }
  .footer {
    width: 100%;
  }
  .footer .footer-container {
    display: block;
  }
  .footer .footer-container .footer-col {
    width: 100%;
  }
  .container-width {
    width: 100%;
    max-width: 100%;
  }
  .products-selection .product-list-fiter {
    width: 100%;
    padding-left: 10px;
  }

  .BreadCrumb .container {
    width: 100%;
  }
  .block-form-login {
    max-width: 100%;
    width: 90%;
    padding: 0 20px 45px;
  }
  .block-form-login .login-form .form-group input {
    width: 100%;
  }
  .BreadCrumb .container ol li a {
    font-size: 14px;
  }
  .thumb-v4 {
    display: block;
  }
  .thumb-v4 .left-container {
    width: 90%;
    display: block;
    margin: auto;
  }
  .thumb-v4 .left-container .images-container .product-cover img {
    border: 1px solid #ccc;
  }
  .product-list {
    display: flex;
    gap: 20px;
    position: relative;
    width: 100%;
  }
  .product-list .item {
    float: none !important;
  }

  .thumb-v4 .right-container {
    width: 90%;
    display: block;
    margin: auto;
    padding-left: 0;
    margin-top: 20px;
  }
  .thumb-v4 .right-container .block_content .detail-product-name {
    margin-bottom: 0;
  }
  .thumb-v4 .right-container .block_content .group-price {
    margin-top: 20px;
  }
  .relate-product .title_block {
    font-size: 20px;
    padding-left: 5%;
  }
  .About_Us-two_Sec{
    display: block;
  }
  .About_Us-two_Sec .right {
    width: 100%;
    padding: 20px;
  }
  .About_Us-two_Sec .left {
    width: 100%;
    padding: 20px;
  }
  .post-container{
    display: block;
  }
  .post-container .post {
    width: 100%;
    padding: 20px;
  }
  .post .post-info {
    
  }
}
