/** @format */

@media screen and (min-width: 1000px) and (max-width: 1370px) {
  .dropdown-content-custome {
    width: 930px !important;
  }
  .HomePage .Container .Banner_Two_Sec {
    width: 100%  !important;
    max-width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    display: none;
   }
   .HomePage .Container .Banner_Two_Sec .img-container {
    width: 48% !important;
   }
   .HomePage .Container .Banner_Two_Sec .img-container img {
    width: 100% !important;
   }
   .HomePage .Container .categories {
    width: 100%;
    max-width: 100%;
    display: none;
   }
   .products-container{
    display: none;
   }
   .HomePage .Container .Banner_Img {

   }
}
