/** @format */

.Banner_Slider_Container {
  position: relative;
  margin: 0;
  background-color: #000000;
}
.Banner_Slider_Container .Banner_Slider .Main {
  width: 100%;
  height: 100%;
}
.Banner_Slider_Container .Banner_Slider .Main img {
  width: 100%;
  height: 100%;
}
.Banner_Slider_Container .slick-arrow {
  display: none !important;
}

/* Homepage */
.HomePage {
  margin: 0;
  background-color: #000000;
}
.HomePage .Container {
  width: 1200px;
  margin: auto;
  background-color: #fff;
  padding: 10px 10px 0px 10px;
}
.HomePage .Container .Banner_Two_Sec {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 12px;
}

/* ------------ */
.HomePage .Container .categories {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  justify-content: spa;
}

.HomePage .Container .categories {
  padding: 60px 0px 0px 0px;
  text-align: center;
}
.HomePage .Container .categories img {
  padding: 20px;
}
.HomePage .Container .categories ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.HomePage .Container .categories p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5em;
}

.HomePage .Container .categories ul li{
    color: #666666;
    font-size: 12px;
    line-height: 2.2em;
}