/** @format */

.Banner_Slider_Container {
  position: relative;
  margin: 0;
  background-color: #000000;
}
.Banner_Slider_Container .Banner_Slider .Main {
  width: 100%;
  height: 100%;
}
.Banner_Slider_Container .Banner_Slider .Main img {
  width: 100%;
  height: 100%;
}
.Banner_Slider_Container .slick-arrow {
  display: none !important;
}

/* Homepage */
.HomePage {
  margin: 0;
  background-color: #000000;
}
.HomePage .Container {
  width: 1200px;
  margin: auto;
  background-color: #fff;
}
.HomePage .Container .Banner_Two_Sec {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 12px;

  padding: 10px 10px 0px 10px;
}

/* ------------ */
.HomePage .Container .categories {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  justify-content: space-evenly;

  padding: 10px 10px 0px 10px;
}

.HomePage .Container .categories {
  padding: 60px 0px 0px 0px;
  text-align: center;
}
.HomePage .Container .categories .Item {
  width: 16.666%;
  border-right: 1px solid #ededed;
}
.HomePage .Container .categories .Item:last-child {
  border-right: none;
}
.HomePage .Container .categories img {
  padding: 20px;
}
.HomePage .Container .categories ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.HomePage .Container .categories p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5em;
}

.HomePage .Container .categories ul li {
  color: #666666;
  font-size: 12px;
  line-height: 2.2em;
  transform: 0.3s;
  cursor: pointer;
}
.HomePage .Container .categories ul li:hover {
  color: #f12b2b;
}

/* --------------------- */

.HomePage .Container .Heading-Container h2 {
  color: black;
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid #eeeeee;
  margin-top: 50px;
}
.HomePage .Container .Heading-Container h2 span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding-bottom: 15px;
}
.HomePage .Container .Heading-Container h2 span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #f12b2b;
  left: 0px;
  bottom: 0px;
}

/* -------- */
.switch_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.switch_btn button {
  border: none;
  color: #909090;
  font-size: 14px;
  font-weight: 600;
  min-width: 150px;
  height: 38px;
  background: #f0f0f0;
  text-transform: uppercase;
  transition: all 0.35s ease;
  cursor: pointer;
  border-radius: 50px;
}
.switch_btn .active {
  background-color: #000;
  color: #fff;
}

.switch_btn button:hover {
  background-color: #000;
  color: #fff;
}

/* ---------------------- */
.products-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
  padding: 10px 10px 0px 10px;
}
.products-container .Main {
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin-bottom: 50px;
  background: #fff;
  width: 23%;
}
.products-container .Main .thumbnail {
  position: relative;
  padding: 4px;
  width: 100%;
}
.products-container .Main .thumbnail img {
  width: 100%;
}
.products-container .Main .product-groups {
  padding-top: 22px !important;
}

.products-container .Main .product-description {
  position: relative;
  padding: 0 20px;
  text-align: center;
}

.products-container .Main .product-title {
  font-size: 14px;
  line-height: 1;
}
.products-container .Main .product-title a {
  color: #444;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}
.products-container .Main .product-title a:hover {
  color: #f12b2b;
}

.products-container .Main .product-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.products-container .Main .product-comments i {
  font-size: 12px;
}
.products-container .Main .product-group-price {
  padding-bottom: 43px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.products-container
  .Main
  .product-group-price
  .product-price-and-shipping
  .price {
  font-weight: 700;
  color: #222;
  margin-right: 9px;
  font-size: 13px;
}
.products-container
  .Main
  .product-group-price
  .product-price-and-shipping
  .regular-price {
  color: #e0e0e0;
  text-decoration: line-through;
  font-size: 13px;
  font-weight: 700;
}
.products-container .Main .group-buttons {
  text-align: center;
}
.products-container .Main .group-buttons i {
  font-size: 12px;
}
.products-container .Main .group-buttons span {
  font-size: 12px;
  margin-left: 5px;
}
.products-container .Main .group-buttons a {
  height: 38px;
  max-width: 210px;
  width: 100%;
  line-height: 38px;
  background: #f0f0f0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  align-items: center;
  transition: 0.3s;
  padding: 5px;
  padding-left: 20px;

  text-decoration: none;
  color: #000;
  padding-right: 20px;
}
.products-container .Main .product-buttons {
  position: absolute;
  bottom: -19px;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 0 5px;
}

.products-container .Main .group-buttons a:hover {
  background: #f12b2b;
  color: #fff;
}

/* ---------------------- */
.HomePage .Container .Banner_Img {
  width: 100%;
  position: relative;
}
.HomePage .Container .Banner_Img img {
  width: 100%;
}
.HomePage .Container .Banner_Img a {
  box-shadow: none;
  text-decoration: none;
}
/* ---------- */
.HomePage .Container .post-item {
  text-align: center;
  width: 24%;
  position: relative;
}
.HomePage .Container .post-item .post-image img {
  width: 100%;
  display: block;
  transition: all 0.35s ease;
  max-width: 100%;
  cursor: pointer;
}
.HomePage .Container .post-item .post-image img:hover {
  transform: scale(1.01);
}
.HomePage .Container .post-item .post-image .post-time {
  text-align: center;
  padding: 8px 0 12px;
  background: white;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 2px;
  min-width: 58px;
}
.HomePage .Container .post-item .post-image .post-time .date_day {
  font-weight: 700;
  font-size: 1.6rem;
  color: #000;
  margin: 0 15px 6px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.HomePage .Container .post-item .post-image .post-time .date_month {
  font-weight: 400;
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
}
.HomePage .Container .post-item .content-blog {
  margin: 0 20px;
}
.HomePage .Container .post-item .content-blog .post_title {
  padding-top: 14px;
  padding-bottom: 10px;
}
.HomePage .Container .post-item .content-blog .post_title a {
  font-weight: 700;
  font-size: 13px;
  color: #222;
  line-height: 22px;
}

.HomePage .Container .Blog-posts {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

/* Breadcrumb */
.BreadCrumb {
  color: #666;
  padding: 15px 10px;
  position: relative;
  min-height: 50px;
  margin-bottom: 6rem;
  list-style: none;
  background-color: #eceeef;
  border-radius: 0.25rem;
}
.BreadCrumb .container {
  width: 1200px;
  margin: auto;
}
.BreadCrumb .container ol {
  padding-left: 0;
  margin: 0;
  text-align: left;
}
.BreadCrumb .container ol li {
  padding: 0 9px;
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.BreadCrumb .container ol li a {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  text-decoration: none;
}
.BreadCrumb .container ol li:before {
  content: "";
  width: 4px;
  height: 4px;
  background: #666;
  position: absolute;
  left: -6px;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.BreadCrumb .container ol li:first-child {
  padding-left: 0;
}
.BreadCrumb .container ol li:first-child:before {
  content: "";
  width: 4px;
  height: 4px;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  transform: none;
}
/* Full Width  */
.container-width {
  width: 1200px;
  margin: auto;
}

/* Pagination */
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}
.pagination div {
  text-align: center;
}
.pagination .page-list {
  margin-bottom: 30px;
  padding-left: 0px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
.pagination .page-list li {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #e4e4e4;
  background: #fff;
  vertical-align: middle;
  font-size: 1.3rem;
  text-align: center;
  line-height: 40px;
  transition: all 0.35s ease;
}
.pagination .page-list li.current {
  border: 1px solid #e4e4e4;
  background: #e4e4e4;
}
.pagination .page-list li:hover {
  border: 1px solid #e4e4e4;
  background: #e4e4e4;
}
.pagination .page-list li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.pagination .page-list .next {
  width: 80px;
}
/* ----------------- */

/* Product Filter */
.products-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.products-selection .product-list-fiter {
  width: 40%;
  display: flex;
  gap: 10px;
}
.products-selection .product-list-fiter .toggle_filter {
  display: flex;
  gap: 10px;
  align-items: center;
}
.products-selection .product-list-fiter .toggle_filter span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

/* Login  */
.block-form-login {
  max-width: 445px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background: #fff;
  margin: auto;
  padding: 0 50px 45px;
  margin-bottom: 50px;
}
.block-form-login .page_title_account {
  padding-top: 20px;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #222222;
}
.block-form-login .page_title_account:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 1px;
  background: #000;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
}
.block-form-login .login-form .form-group {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  max-width: 100%;
  align-items: center;
  border: 1px solid #e9e9e9;
}
.block-form-login .login-form .form-group input {
  height: 46px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  border: none;
  outline: none;
}

.block-form-login .login-form .form-group i {
  padding: 10px;
  width: 40px;
  height: 100%;
  text-align: center;
  color: #e9e9e9;
}
.block-form-login .forgot-password {
  font-size: 14px;
  color: #bbbbbb;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.block-form-login .forgot-password a {
  color: #000;
  text-decoration: none;
}

.block-form-login button {
  margin-left: 0 !important;
  background: #000 !important;
  margin-bottom: 0 !important;
  width: 100% !important;
  font-size: 1.2rem;
  text-align: center;
  height: 44px !important;
  line-height: 44px !important;
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 0 43px;
  font-size: 12px;
  font-weight: 700;
}

.block-form-login .no-account {
  font-size: 13px;
  text-align: center;
  margin-top: 25px;
}
.block-form-login .no-account a {
  color: #222;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.block-form-login .login-form .form-group:hover {
  border: 1px solid black;
}
.block-form-login .form-control-valign {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 37px;
}
.block-form-login .form-control-valign .radio-inline {
  margin-right: 30px;
  font-size: 15px;
  color: #444;
  display: flex;
  align-items: center;
}
.block-form-login .form-control-valign .radio-inline .custom-radio input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.form-control-comment {
  font-size: 13px;
  color: #aaaaaa;
  margin-bottom: 20px;
}

/* Specific Product */
.thumb-v4 {
  padding-bottom: 30px;
  display: flex;
  gap: 20px;
}
.thumb-v4 .left-container {
  width: 50%;
}

.thumb-v4 .product-cover .block_content {
  position: relative;
  display: flex;
  border: 1px solid #ccc;
}
.product-list {
  padding-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
}
.product-list .item img {
  max-width: 100%;
  filter: alpha(opacity=60);
  opacity: 0.6;
  cursor: pointer;
  border: 1px solid #ebebeb;
}
.product-list .item {
  padding: 10px 10px 10px 10px;
  width: 20%;
  float: left;
}
.product-list .item img.selected {
  filter: alpha(opacity=100);
  opacity: 1;
}

.product-list .item img:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

.thumb-v4 .right-container {
  width: 50%;
  padding-left: 60px;
}
.thumb-v4 .right-container .block_content .detail-product-name {
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.thumb-v4 .right-container .block_content .group-price {
  margin-top: 45px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.thumb-v4 .right-container .block_content .group-price .product-price {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.thumb-v4 .right-container .block_content .group-price .product-price span {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 1;
  display: flex;
  align-items: center;
}
.thumb-v4
  .right-container
  .block_content
  .group-price
  .tax-shipping-delivery-label {
  padding-bottom: 5px;
  padding-left: 50px;
  font-size: 14px;
}

.thumb-v4 .right-container .block_content .product-information {
  margin-top: 13px;
  margin-bottom: 25px;
  line-height: 22px;
  font-size: 14px;
}

.thumb-v4 .right-container .block_content .pro-cate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
}

.thumb-v4 .right-container .block_content .control-label {
  color: #000;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 5px;
  margin: 0;
}
.thumb-v4 .right-container .block_content .pro-cate span a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  padding-left: 5px;
}

.thumb-v4 .right-container .block_content .product-actions {
  padding-top: 30px;
}

.qty {
  display: inline-block;
  width: 110px;
  margin-right: 10px;
}

.qty .input-group {
  position: relative;
  display: flex;
  width: 100%;
}

.qty #quantity_wanted {
  color: #444;
  height: 40px;
  padding: 0.175rem 2rem;
  width: 110px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #ebebeb;
  background-color: #f6f6f6;
  text-align: center;
  border-radius: 3px;
  outline: none;
  display: block;
}

.qty .input-group-btn-vertical {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.qty .input-group-btn-vertical .button-plus {
  height: 38px;
  width: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 0;
  border: 0;
  border-left: 1px solid #ebebeb;
  background: #fff;
}

.qty .input-group-btn-vertical .button-minus {
  height: 38px;
  width: 26px;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 0;
  border-radius: 0;
  border-right: 1px solid #ebebeb;
  background: #fff;
}

.qty .input-group-btn-vertical i {
  color: #b4b4b4;
  font-size: 14px;
  display: block;
  font-style: inherit;
  line-height: 38px;
  margin: 0;
}

.qty .input-group-btn-vertical i:hover {
  color: #f12b2b;
}
.thumb-v4 .right-container .block_content .product-actions .product-quantity {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.thumb-v4
  .right-container
  .block_content
  .product-actions
  .product-quantity
  .add {
  min-width: 150px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  width: calc(100% - 120px);
  margin: 0;
}

.thumb-v4
  .right-container
  .block_content
  .product-actions
  .product-quantity
  .add
  .add-to-cart {
  padding: 0 24px;
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  border-radius: 0px;
  position: relative;
  border: none;
  width: 100%;
  overflow: hidden;
  font-weight: 600;
  background-color: #000;
}
.thumb-v4
  .right-container
  .block_content
  .product-actions
  .product-quantity
  .add
  .add-to-cart:hover {
  background-color: #f12b2b;
  color: #fff;
}
.thumb-v4 .right-container .block_content .product-actions .btn span {
  display: inline-block;
  vertical-align: middle;
}

.thumb-v4
  .right-container
  .block_content
  .product-actions
  .product-payments
  label {
  margin-bottom: 15px;
  margin-top: 19px;
  text-transform: uppercase;
  color: #222222;
  font-size: 13px;
  font-weight: 600;
}

.thumb-v4 .right-container .block_content .product-actions .wishlist_bottom {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.thumb-v4 .right-container .block_content .product-actions .wishlist_bottom a {
  color: #222;
  display: inline-block;
  text-decoration: none;
}
.thumb-v4
  .right-container
  .block_content
  .product-actions
  .wishlist_bottom
  a
  i {
  font-size: 16px;
}

.thumb-v4
  .right-container
  .block_content
  .product-actions
  .wishlist_bottom
  a
  span {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  position: relative;
  padding-left: 5px;
  line-height: 20px;
  filter: alpha(opacity=100);
  opacity: 1;
}

.thumb-v4 .productbuttons {
  padding-bottom: 25px;
}
.thumb-v4 .productbuttons .social-sharing {
  display: flex;
  align-items: center;
}
.thumb-v4 .productbuttons .social-sharing span {
  text-transform: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: #000;
  margin-right: 27px;
}
.thumb-v4 .productbuttons .social-sharing span i {
  font-size: 12px;
  margin-right: 17px;
}
.thumb-v4 .productbuttons .social-sharing .item i {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 7px;
  line-height: 23px;
}

.relate-product {
  padding-bottom: 7.5rem;
}
.relate-product .title_block {
  font-size: 25px;
  margin-bottom: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.tabs {
  width: 100%;
  margin-bottom: 100px;
}

/* About Us */

.AboutUs img {
  width: 100%;
  height: auto;
}
.About_Us-Content {
  padding: 20px;
}
.About_Us-Content h5 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
}
.About_Us-Content p {
  color: #1d1d1d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.About_Us-two_Sec {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.About_Us-two_Sec .right {
  width: 55%;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}
.About_Us-two_Sec .right p {
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 400;
}
.About_Us-two_Sec .left {
  width: 40%;
}
.About_Us-two_Sec .left img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* BLogs */
.post {
  margin-bottom: 25px;
  width: 100%;
}
.post a img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.sdsarticleHeader {
  padding: 6px 0 10px;
  padding-bottom: 5px;
}
.sdsarticleHeader .sdstitle_block {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 12px;
  text-align: center;
}
.sdsarticleHeader .sdstitle_block a {
  color: #000;
  text-decoration: none;
  text-align: center;
}
.sdsarticleHeader .sdsarticle-info span {
  position: relative;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #c6c6c6;
  margin-left: 7px;
  padding-left: 10px;
}

.post .post-info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.post .post-info .comment a {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #c6c6c6;
}
.post .post-info span {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #c6c6c6;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post .post-info .pipe {
  width: 1px;
  height: 10px;
  background-color: #c6c6c6;
}

.post .post-description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  font-weight: 300;
  line-height: 25px;
}
.post .post-description .more {
  padding-top: 20px;
  display: block;
}
.post .post-description .more a {
  background: #000;
  color: #fff;
  border-radius: 3px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  white-space: normal;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  width: 145px;
  text-decoration: none;
  display: block;
  margin: auto;
}

.post-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.post-container .post {
  width: 45%;
}

/* Contact Us */
.contact-us .BreadCrumb {
  margin-bottom: 0;
}

.contact-us .contact-form {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.contact-us .contact-form .left-container {
  width: 70%;
}
.contact-us .contact-form .left-container .form-cont {
  margin: 50px 0px 0px 0px;
  padding: 0px 15px 0px 15px;
}
.contact-us .contact-form .left-container .form-cont h2 {
  font-size: 30px;
  font-weight: bold;
}

.contact-us .contact-form .left-container .form-cont label {
  color: #000;
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
  font-weight: 600;
}
.contact-us .contact-form .left-container .form-cont input {
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 20px;
  border: 0;
  font-weight: 400;
  color: #000;
  background: #f5f5f5;
  outline: none;
  cursor: pointer;
}
.contact-us .contact-form .left-container .form-cont span {
  position: relative;
}
.contact-us .contact-form .left-container .form-cont span::after {
  content: "*";
  position: absolute;
  right: 10px;
  top: 0;
  color: red;
  font-size: 20px;
}
.contact-us .contact-form .left-container .form-cont input:hover {
  background-color: #dcdcdc;
}
.contact-us .contact-form .left-container .form-cont textarea:hover {
  background-color: #dcdcdc;
}

.contact-us .contact-form .left-container .form-cont .input-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-us .contact-form .left-container .form-cont .input-group .form-group {
  width: 31%;
}

.contact-us .contact-form .left-container .form-cont textarea {
  width: 100%;
  max-height: 370px;
  padding: 10px 20px;
  border: 0;
  height: 200px;
  min-height: 100px;
  outline: none;
  font-weight: 400;
  margin-bottom: 23px;
  background: #f5f5f5;
}
.contact-us .contact-form .left-container .form-cont button {
  height: 55px;
  line-height: 55px;
  font-size: 14px;
  padding: 0 75px;
  color: #fff;
  background: #000;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 500;
}

.contact-us .contact-form .right-container {
  width: 30%;
  margin: 0;
}
.contact-us .contact-form .right-container .Content {
  margin: 50px 0px 0px 0px;
  padding: 0px 15px 0px 15px;
}
.contact-us .contact-form .right-container .Content h3 {
  font-weight: 700;
  font-size: 20px;
}
.contact-us .contact-form .right-container .Content .content-container {
  margin: 0px 0px 25px 0px;
  padding: 0px 0px 20px 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #86868650;
  color: #393131;
}

.contact-us .contact-form .right-container .Content .social-links ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.contact-us .contact-form .right-container .Content .social-links ul a {
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  color: #000;
}
.contact-us .contact-form .right-container .Content .social-links ul li a i {
  font-size: 14px;
}
.contact-us
  .contact-form
  .right-container
  .Content
  .social-links
  ul
  li
  a:hover {
  background: #bd0028;
  color: #fff;
  border-color: #bd0028;
}

/* Cart */
.cart {
  display: flex;
}
.cart #main {
  margin-bottom: 6rem;
  width: 100%;
}
.cart #main .cart-grid {
  padding-bottom: 80px;
  display: flex;
  width: 100%;
  max-width: 100%;
  gap: 30px;
}
.cart #main .cart-grid .cart-grid-body {
  width: 66%;
}

.cart #main .cart-grid .cart-grid-body .page-title {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  width: 100%;
  margin-bottom: 30px;
}

.cart #main .cart-grid .cart-grid-body .cart-container .group_title {
  border-top: 1px solid #e9e9e9;
  margin-bottom: 30px;
}
.cart #main .cart-grid .cart-grid-body .cart-container .group_title table {
  width: 100%;
}
.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  thead
  tr
  th {
  font-size: 14px;
  font-weight: bold;
  color: #222;
  border-bottom: 1px solid #e9e9e9;
  padding: 16px 0;
}

.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  tbody {
  margin-bottom: 30px;
}
.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  tbody
  tr {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  tbody
  tr
  td {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  tbody
  tr
  td
  span
  .img-container {
  border: 1px solid #e6e6e6;
  display: inline-block;
  max-width: 92px;
  min-width: 92px;
  border-radius: 3px;
}

.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  tbody
  tr
  td
  span
  .img-container
  img {
  width: 100%;
  height: auto;
}

.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  tbody
  tr
  td
  .big-container {
  display: flex;
  max-width: 350px;
  gap: 20px;
  align-items: center;
}
.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  tbody
  tr
  td
  .big-container
  a {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  tbody
  tr
  td
  .big-container
  .variant
  span {
  font-size: 11px;
  color: #909090;
  font-weight: 500;
}

.cart
  #main
  .cart-grid
  .cart-grid-body
  .cart-container
  .group_title
  table
  tbody
  tr
  td
  .product-price.total {
  font-weight: 700;
  color: #c64e4e;
}
.fa-trash {
  color: #c64e4e;
  font-size: 12px;
}
.continue_shopping {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  background: #eeeeee;
  width: 200px;
  border: none;
  transition: 0.5s;
}
.continue_shopping:hover {
  background-color: #000;
  color: #fff;
}

.cart #main .cart-grid .cart-grid-right {
  width: 33%;
}

.cart-summary {
  border: 1px solid #e9e9e9;
  padding: 20px;
}


.cart-summary .cart-detailed-totals .summary{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-summary .cart-detailed-totals .summary p{
  margin: 0;
  font-size: 14px;
}
.cart-summary .cart-detailed-totals .summary .value{
font-weight: bold;
margin-top: 10px;
}
.cart-summary .cart-detailed-totals .empty {
  border: 1px solid black;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-summary .cart-detailed-totals .summary .upper{
  font-size: 20px;
  font-weight: bold;
}
.cart-summary .cart-detailed-totals  .Checkout{
  width: 100%;
  color: #fff;
  background-color: #424242;
  text-align: center;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  border: 1px solid #424242;
}
.cart-summary .cart-detailed-totals  .Checkout:hover{
  background-color: #000;
}
.cart-summary .cart-detailed-totals  .Checkout:focus{
  background-color: #b;
}