/** @format */

.Navbar {
  background-image: linear-gradient(to bottom, #fff 0%, #d7d7d7 100%);
  align-items: center;
}

.Navbar .container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar .left {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.Navbar .right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.Navbar .main .fa-bars {
  display: none;
}
.Navbar .main a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px;
}

.Navbar .main img {
  max-width: 270px;
  height: 50px;
  line-height: 50px;
  background: #f12b2b;
}

.Navbar .main div {
  border-radius: 24px;
  border: 1px solid #f3f4f6;
  background: #eee;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.Navbar .main div input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #6b7280;
  font-size: 14px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
}
.Navbar .main button {
  border-radius: 8px;
  background: #f5a302;
  width: 120px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  outline: none;
  border: 1px solid #f5a302;
}

.Navbar .main a:focus {
  font-weight: 700;
}

/* Sidebar  */
.Sidebar-Container {
  padding: 0;
  background-color: #033c59;
}
.Sidebar-Container .Close_Button {
  display: flex;
  justify-content: flex-end;
}
.Sidebar-Container .Close_Button i {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
}
.Sidebar-Container .main {
  margin-top: 20px;
}
.Sidebar-Container .main a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  margin: 0;
}
.Sidebar-Container .main div {
  border-radius: 24px;
  border: 1px solid #f3f4f6;
  background: #eee;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.Sidebar-Container .main div input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #6b7280;
  font-size: 14px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
}
