/** @format */

.Navbar {
  background-image: linear-gradient(to bottom, #fff 0%, #d7d7d7 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar .left {
  display: flex;
  width: 70%;
  gap: 20px;
  align-items: center;
}
.Navbar .right {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.Navbar .main a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 10px;
}
.Navbar .left a {
  padding-right: 20px;
  border-right: 1px solid #fff;
}

.Navbar .main div {
  border-radius: 24px;
  border: 1px solid #f3f4f6;
  background: #eee;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.Navbar .main a:focus {
  font-weight: 700;
}

.Navbar .right .social-links {
  display: flex;
  padding-left: 0;
  list-style: none;
  align-items: center;
  padding-top: 15px;
  text-align: center;
}
.Navbar .right .social-links li {
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
}

.Navbar .right .social-links li:hover {
  color: #f12b2b;
}
/* Dropdown */
.dropdown-custom {
  position: relative;
  display: inline-block;
}
.Navbar .main .dropdown-custom {
  border-radius: 0;
  border: none;
  background: transparent;
  padding: 0;
}
.Navbar .main .dropdown-content-custome {
  border-radius: 0;
  border: none;
  padding: 0;
  background-color: #fff;
}

.dropdown-content-custome {
  display: none !important;
  width: 1170px;
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 0;
  left: -90px;
  border-radius: 0;
  background-color: #fff;
}
.Navbar .main .dropdown-content-custome ul {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.Navbar .main .dropdown-content-custome ul .item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.Navbar .main .dropdown-content-custome ul .item .menu-title {
  color: #000;
  font-weight: 800;
  font-size: 16px;
  padding-top: 10px;
  display: block;
  border-bottom: none;
  margin-bottom: 0px;
  text-align: left;
}
.Navbar .main .dropdown-content-custome ul .item .menu-content {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0;
}

.Navbar .main .dropdown-content-custome ul .item .menu-content ul {
  padding-bottom: 30px;
  padding-top: 5px;
  width: 100%;
  text-align: left;

  padding-left: 0;
}
.Navbar .main .dropdown-content-custome ul .item .menu-content ul li {
  text-align: left;
  border-bottom: 1px solid #ededed;
  width: 100%;
  padding-left: 0;
  padding-bottom: 10px;
}
.Navbar
  .main
  .dropdown-content-custome
  ul
  .item
  .menu-content
  ul
  li:last-child {
  text-align: left;
  border-bottom: 1px solid #ededed;
}
.Navbar .main .dropdown-content-custome ul .item .menu-content ul a {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}

.dropdown-custom:hover .dropdown-content-custome {
  display: block !important;
}

.dropdown-content-custome {
  padding: 20px;
}

/* Header */
#header.header-1 {
  background: #000;
}
#header {
  position: relative;
  color: #666;
  background: #000;
}
#header.header-1 .header-top {
  background: transparent;
}
#header .container {
  width: 1200px;
}
#header .w-login {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

#header .w-login a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
}
#header .w-login a i {
  font-size: 10px;
}

#header .w-login span {
  color: #fff;
  font-size: 10px;
  padding-left: 5px;
}

#header.header-1 .header-center {
  background: #131313;
  padding: 0 35px;
}
#header.header-1 .header-center .three-sec-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header.header-1 .header-center .three-sec-cont .left-cont {
  position: relative;
}

#header.header-1 .header-center .three-sec-cont .left-cont i {
  background: #f12b2b;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: 10px;
}
#header.header-1 .header-center .three-sec-cont .left-cont input {
  padding-left: 60px;
  height: 46px;
  border: 1px solid #0f0f0f;
  color: #fff;
  background: #000;
  border-radius: 30px;
  outline: none;
}
#header.header-1 .header-center .three-sec-cont .mid-cont img {
  max-width: 232px;
  height: 117px;
}

#header.header-1 .header-center .three-sec-cont .right-cont {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  height: 100px;
}
#header.header-1 .header-center .three-sec-cont .right-cont .content p {
  margin: 0 !important;
}
#header.header-1 .header-center .three-sec-cont .right-cont .fa-phone {
  color: #f12b2b;
}

#header.header-1
  .header-center
  .three-sec-cont
  .right-cont
  .content
  .phone_number {
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  margin: 0 !important;
}
#header.header-1 .header-center .three-sec-cont .right-cont .content span {
  color: #474747;
  font-weight: 500;
  font-size: 14px;
  padding-top: 2px;
  margin-bottom: 0px;
}

#header.header-1 .header-center .three-sec-cont .right-cont .mini-cart {
  display: flex;
  gap: 10px;
  /* position: relative; */
}
.mini-cart a {
  text-decoration: none;
}
#header.header-1
  .header-center
  .three-sec-cont
  .right-cont
  .mini-cart
  .fa-heart,
#header.header-1
  .header-center
  .three-sec-cont
  .right-cont
  .mini-cart
  .fa-cart-shopping {
  display: block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 100%;
  background: #f12b2b;
  color: #fff;
  cursor: pointer;
}

.cart_block {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  height: auto;
  width: 100%;
  background-color: #fff;
}

.cart_block .cart-block-content {
  padding-top: 20px;
  background: #fff;
  box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.cart_block ul {
  list-style: none;
  padding: 10px 15px 0 20px;
  margin-bottom: 0;
}

.cart_block ul li:first-child {
  padding-top: 0;
}

.cart_block ul li {
  padding: 20px 20px 20px 0;
  position: relative;
}

.cart_block ul .media {
  position: relative;
}

.cart_block ul .media {
  display: flex;
  align-items: flex-start;
}

.cart_block ul .product-image {
  width: 62px;
  margin-right: 2rem;
  border: 1px solid #e6e6e6;
  display: flex;
  border-radius: 5px;
}

.cart_block .remove-from-cart {
  position: absolute;
  font-size: 16px;
  color: #8f8f8f;
  display: inline-block;
  width: 23px;
  height: 23px;
  line-height: 22px;
  background: red;
  text-align: center;
  border-radius: 50%;
  top: -7px;
  left: -10px;
  background: #e6e6e6;
}

.cart_block .remove-from-cart .fa {
  display: inline-block;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
}

.cart_block ul .media-body {
  position: relative;
  text-align: left;
  line-height: 20px;
}

.cart_block ul .product-name {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #000;
}
.cart_block ul .product-name:hover {
  color: #f12b2b;
}
.cart_block ul .product-price {
  color: #222;
  font-weight: 400;
  font-size: 15px;
}

.cart_block .cart-total {
  font-size: 15px;
  color: #222;
  font-weight: 700;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.cart_block .cart-total .label {
  text-transform: uppercase;
  background-color: #fff;
  color: #222;
  font-size: 13px;
  padding-right: 15px;
}

.cart_block .cart-total .value {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #222;
}
.cart_block .cart-buttons {
  padding: 20px;
}

.cart_block .cart-buttons a {
  display: block;
  font-size: 11px;
  border-radius: 3px;
  min-width: 120px;
  text-align: center;
  height: 44px;
  line-height: 44px;
  padding: 0;
  border: none;
  text-decoration: none;
}
.cart_block .cart-buttons a.btn-checkout {
  background: #222;
  color: #fff;
}

.cart_block .cart-buttons a.btn-cart {
  background: #ececec;
  color: #222;
  margin-top: 2px;
}